PORT =5000
MONGO_URI=mongodb+srv://user-1:Z5Fvf9hXMs5lgSXN@cluster0.vgzymmb.mongodb.net/eco-demo?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET =your_jwt_secret_key_bhyftdrxgfhjuiyt
CLOUDINARY_CLOUD_NAME=ctaytlhh
CLOUDINARY_API_KEY=893968644593566
CLOUDINARY_API_SECRET=mBEsSoBzT1Sgn2qs_rPkg8sF0KA
RAZORPAY_KEY_ID=rzp_test_TN2k0D0VRZ1dVY
RAZORPAY_KEY_SECRET=l6Ek2pD1uA6OD1lwqUoAR0Ok
GMAIL_USER=hisoumyadeepbiswas@gmail.com
GMAIL_PASS=vocidryawlzxwleh
FRONTEND_URL=http://localhost:3000
NODE_ENV=development